{% extends 'index.html' %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
  <form method="POST" action="/">
    <h2>Your caracteristics</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
    <div class="form-group">
      <label for="user_age">Your Name:</label>
      <input
        type="text"
        class="form-control"
        id="user_name"
        name="user_name"
        aria-describedby="UserNameHelp"
        placeholder="Enter here your name"
      />
    <div class="form-group">
      <label for="user_age">Your Age:</label>
      <input
        type="text"
        class="form-control"
        id="user_age"
        name="user_age"
        aria-describedby="UserAgeHelp"
        placeholder="Enter your age in years"
      />
    <div class="form-group">
      <label for="user_fare">Your Fare:</label>
      <input
        type="text"
        class="form-control"
        id="user_fare"
        name="user_fare"
        aria-describedby="UserFareHelp"
        placeholder="Your probably Fare"
      />
    </div>
    <div class="form-group">
      <label for="user_pclass">Your Ticket class</label>
      <input
        type="text"
        class="form-control"
        id="user_pclass"
        name="user_pclass"
        aria-describedby="UserPclassHelp"
        placeholder="Enter 1 = 1st, 2 = 2nd, 3 = 3rd"
      />
    <div class="form-group">
      <label for="user_parch">Number of  parents/children:</label>
      <input
        type="text"
        class="form-control"
        id="user_parch"
        name="user_parch"
        aria-describedby="UserParchHelp"
        placeholder="Number of  parents/children with you."
      />
    <div class="form-group">
      <label for="user_sex">Your Sex: ( 0-for male/ 1-for female</label>
      <input
        type="text"
        class="form-control"
        id="user_sex"
        name="user_sex"
        aria-describedby="UserSexHelp"
        placeholder="Sex you are part of."
      />
    <div class="form-group">
      <label for="user_sibsp">How many  siblings / spouses?</label>
      <input
        type="text"
        class="form-control"
        id="user_sibsp"
        name="user_sibsp"
        aria-describedby="UserSibSpHelp"
        placeholder="Number of siblings/spouses with you."
      />
    </div>
    <button type="submit" class="btn btn-primary">Figure Out</button>
  </form>
</div>
{% endblock %}